<div class="container all-games ">
  <div class="row "  *ngIf="!loading">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 all mx-2 " *ngFor=" let on of online">
          <div class="pic-gam  p-0">
              <img  class="img-fluid " [src]="on.thumbnail" alt="game picture ">
          </div>
          <div class="discrption mt-2">
              <h6>{{on.title}}</h6>
              <p>{{on.publisher}}</p>
              <p>{{on.genre}}</p>
              <p class="text-warning">Today's downloads :
                <span class="watch">{{on.id}}</span></p>
                <button class="btn btn-warning text-white my-2">  {{on.platform}} </button>
          </div>
      </div>
  </div>
</div>

<div class=" container text-center err" *ngIf="loading">
  <app-spinner></app-spinner>
  </div>
