@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap");

$main-color: #cf0000;
$Alt-color: #fff;
$f-s: 19px;

.all-games {
  padding-top: 100px;
}
.all {
  margin: 10px;
  border-radius: 9px;
  width: 290px;
  height: 350px;
  box-shadow: rgba(254, 4, 4, 0.212) 0px 19px 38px,
    rgba(254, 4, 4, 0.212) 0px 15px 12px;
  cursor: pointer;
  position: relative;
  margin: 15px 0px;
  border: 0.9px solid rgba(94, 1, 1, 0.623);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translatey(-15px);
  }

  .pic-gam {
    width: 100%;
  }
  p {
    margin-bottom: 0.5rem;
  }
  .watch {
    width: 50px;
    height: 50px;
    padding: 7px;
    border-radius: 5px;
    background-color: $main-color;
    color: #fff;
  }

  .btn {
    position: absolute;
    left: 8px;
    bottom: 8px;
  }
}

@media screen and (max-width: 991px) {
  .all {
    margin: 15px auto !important;
  }
}
.err {
  height: 600px;
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}
