@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap");

$main-color: #cf0000;
$Alt-color: #fff;
$Hv-Color: #650a0a;
$f-s: 19px;
/* start error */


.error{
text-align: center;



}
.er{
  font-family: "Roboto", sans-serif;
  letter-spacing: 5px;
  font-weight: 700;
  text-align: center;

}
