
<div class="container  mt-5">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="caption  ">

      <h3>ENJOY THE GAMES </h3>
      <h1>THE NEXT <br> GENERATION OF GAMING IS HERE.</h1>
      <p>Online gaming is simply the playing of a video game over the internet, usually with friends. Online games can be played on any number of devices from dedicated video games consoles.

      </p>

    <button (click)="letsGO()" class="btn ">Join Our Team   </button>
    </div>

  </div>


  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
    <div class="b-g ">
      <img  class="img-fluid " src="assets/welcomePage.gif" >
    </div>
  </div>


</div>
</div>
